[Unit]
Description=SMA Solar Inverter upload via MQTT

[Service]
ExecStart=/usr/bin/python /opt/SMASolarMQTT/SMASolarMQTT.py 00:80:25:32:30:55 0000 127.0.0.1 sma sma emon/SMASolar
